<template id="footer-template">
  <footer>
    <nav class="footer-nav">
      <div>
        <h3>LIFT MEDIA</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Quienes somos</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div>
        <h3>LEGAL</h3>
        <ul>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">Policy cookies</a></li>
          <li><a href="#">Prensa</a></li>
        </ul>
      </div>
      <div>
        <h3>CONTACT</h3>
        <ul>
          <li><a href="#">123 456 789</a></li>
          <li><a href="#">Whatsapp</a></li>
          <li><a href="#">hallify@gmail.com</a></li>
        </ul>
      </div>
    </nav>
    <hr />

    <div class="footer-second-part">
      <div class="secondpart">
        <div>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-linkedin"></ion-icon>
        </div>
        <p class="copyright">2025 hallify Online</p>
        <p>CSC 415 Project</p>
        <p class="text-container">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, sed.
          Eligendi eveniet magnam architecto earum expedita error possimus
          labore. Optio nihil et dolor distinctio debitis ipsa culpa sit.
          Provident sapiente cum veniam laborum nobis ipsum necessitatibus, esse
          asperiores quia eos natus vel obcaecati ut modi molestiae recusandae
          eaque deserunt. Odio repellendus corporis asperiores quo sed quos,
          explicabo esse. Ab natus aliquam inventore dolorem! Odit nihil vitae
          aperiam? Ea id fugiat, esse itaque, nostrum obcaecati non possimus
          tempore ducimus aspernatur sunt expedita illum, beatae iste
          voluptatibus? Odio veritatis fuga impedit, cumque quibusdam minus
          maiores. Architecto obcaecati harum illum reiciendis laudantium sint.
        </p>
      </div>
    </div>
  </footer>
</template>
