<template id="navbar-template">
  <header>
    <!-- Brand Logo -->
    <div class="logo-container">
      <img src="./assets/images/brand-logo.svg" alt="Brand Logo" class="logo" />
    </div>

    <!-- Menu Button (Visible on Mobile) -->
    <button class="menu-toggle" aria-label="Toggle Menu">
      <span class="material-symbols-outlined">menu</span>
    </button>

    <!-- Navigation Links -->
    <nav class="nav-links">
      <ul>
        <li>
          <a href="#"
            ><img src="./assets/icons/nigerian-flag.svg" alt="" />
            <span>NGN</span>
          </a>
        </li>
        <li>
          <a href="#"
            ><img src="./assets/icons/home.svg" alt="" /><span
              >List Hotel</span
            ></a
          >
        </li>
        <li>
          <a href="#"
            ><img src="./assets/icons/favorites.svg" alt="" /><span
              >Favorites</span
            ></a
          >
        </li>
        <li>
          <input class="sign-in" type="text" placeholder="Sign In" />
          <input class="button" type="button" value="Get Started" />
        </li>
      </ul>
    </nav>
  </header>
</template>
