* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
/* Navbar Container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 52px;
  background-color: white;
  position: relative;
  z-index: 10;
}

/* Logo */
.logo-container img {
  width: 100px;
  height: 34px;
}

/* Navigation Links (Desktop View) */
.nav-links {
  display: flex;
  align-items: center;
}

/* Navigation List */
.nav-links ul {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Individual Items */
.nav-links li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 7px;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgb(31, 30, 30);
}

/* Input and Button */
.sign-in {
  padding: 10px 2px;
  max-width: 75px;
  border-radius: 3px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid silver;
  margin-right: 10px;
}

.button {
  padding: 10.5px 15px;
  border-radius: 10px;
  background-color: #7a5af8;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}

.material-symbols-outlined {
  vertical-align: middle;
}

/* Menu Toggle (Mobile View) */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
}

/* Mobile Styles */
@media screen and (max-width: 788px) {
  .menu-toggle {
    display: block; /* Show on Mobile */
  }

  /* Hidden Navigation Initially */
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 250px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
  }

  /* Show Navigation when Active */
  .nav-links.active {
    right: 0;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 30px;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  background-color: antiquewhite;
  padding: 80px 0;
  line-height: 2em;
}
.text-container {
  column-count: 2;
  column-gap: 50px;
  line-height: 1.5em;
  text-align: justify;
  width: 80%;
}
.footer-second-part {
  padding: 20px 50px;
  background-color: antiquewhite;
}
.secondpart {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.secondpart p {
  padding: 10px 0;
}
.secondpart ion-icon {
  font-size: larger;
}
